html {
  font-size: 62.5%;
}

* { box-sizing: border-box; }

body {
  font-size: 1.6rem;
  background-color: #f8f8f8;
  font-family: "Roboto", sans-serif, Arial, Helvetica, sans-serif;;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  line-height: 1.3;
}

main {
  flex: 1;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-width: 100vw;
}

h1 {
  margin: 4.0rem auto 0 auto;
}

#idiv {
  margin: 3.0rem auto 0 auto;
  display: flex;
  flex-direction: row;
  width: 100%;
}

#inputWrap {
  margin: 0 0 0 auto;
  width: 100%;
  max-width: 45.0rem;
  position: relative;
  display: inline-flex;
  align-items: center;
}

#input {
  height: 3.2rem;
  width: 100%;
  padding: 0.2rem 3.0rem 0.2rem 0.6rem;
  border-width: 1px 0 1px 1px;
  border-style: inset;
  border-color: #767676;
}

#clear {
  position: absolute;
  right: 0;
  padding: 1.1rem 0.8rem 1.3rem 0.8rem;
  color: #666666;
  text-align: center;
  line-height: 1.0rem;
  cursor: pointer;
}

#get {
  margin: 0 auto 0 0;
  height: 3.2rem;
  width: 10.0rem;
  margin-left: 0;
}

footer {
  font-size: 1.4rem;
  align-self: flex-end;
  margin: 0 auto 0.4rem auto;
  display: flex;
  flex-direction: row;
  min-width: 100vw;
}

footer a {
	color: #000;
}

#about {
  margin-left: auto;
  margin-bottom: 0.5rem;
  align-self: flex-end;
}

#issues {
  margin-left: 1.0rem;
  margin-bottom: 0.5rem;
  align-self: flex-end;
}

#crossref {
  margin-left: auto;
  margin-right: 2.0rem;
}

#crossref img {
  width: 10rem;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

#error {
  margin: 5.0rem auto 0 auto;
  color: #a00000;
}

#url {
  margin: 3.0rem auto 0 auto;
  font-size: 1.2rem;
}

#spinner {
  margin: 5.0rem auto 0 auto;
}

#spinner:before {
  content: '';
  display: block;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 0.3rem ridge transparent;
  border-top-color: #888888;
  border-left-color: #888888;
  animation: spinner 1.2s linear infinite;
}

#resultWrap {
  margin: 3.0rem auto 0 auto;
  display: flex;
  flex-direction: row;
}

#result {
  white-space: pre;
  font-family: "Roboto Mono", monospace;
  font-size: 1.3rem;
  border-width: 1px 0 1px 1px;
  border-style: inset;
  border-color: #767676;
  padding: 1.0rem;
  background-color: #f0f0f8;
}

#copy {
  padding: 1.0rem;
}

#gitlab {
  width: 4.5rem;
  position: relative;
  top: 0.5rem;
}

/* gitlab logo */
.st0{fill:#FAFAFA;}
.st1{fill:#F0F0F0;}
.st2{fill:#FFFFFF;}
.st3{fill:#E24329;}
.st4{fill:#FCA326;}
.st5{fill:#FC6D26;}
.st6{fill:#8C929D;}
.st7{fill:#2E2E2E;}
.st8{fill:none;stroke:#FCA326;stroke-width:16;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st9{fill:none;stroke:#FC6D26;stroke-width:16;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st10{fill:none;stroke:#E24329;stroke-width:16;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st11{fill:none;stroke:#F0F0F0;stroke-miterlimit:10;}
.st12{fill:#231F20;}
.st13{fill:none;stroke:#231F20;stroke-width:16;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.st14{display:none;}
.st15{display:inline;opacity:0.1;fill:#E828E3;}
.st16{display:inline;}
.st17{opacity:0.1;fill:#E828E3;}
.st18{font-family:'SourceSansPro-Semibold';}
.st19{font-size:24px;}
.st20{display:inline;fill:#DB3B21;}
.st21{display:inline;fill:#FC6D26;}
.st22{display:inline;fill:#2E2E2E;}
.st23{display:inline;fill:#6E49CB;}
.st24{display:inline;fill:#380D75;}
.st25{display:inline;fill:#FCA121;}
.st26{opacity:0.6;fill:none;stroke:#231F20;stroke-width:2;stroke-miterlimit:10;stroke-dasharray:12,6;}
.st27{fill:none;stroke:#444444;stroke-width:1.5339;stroke-miterlimit:10;}
